.header {
	background: @black;
    //height: 100px;

    &-partner{
        float: left;
        &__img{
            height: 80px;
            margin: 10px 0;
            @media (max-width: 1200px) {
                height: 50px;
                margin: 8px 0;
            }
            @media (max-width: 1024px) {
                height: 34px;
                margin: 10px 0;
            }
            @media (max-width: 767px) {
                height: 26px;
            }
        }
    }
    &-logo{
        margin: 0 auto;
        position: relative;
        text-align: center;
        width: 518px;
        @media (max-width: 1200px) {
            width: 346px;
        }
        @media (max-width: 767px) {
            clear: both;
            width: 243px;
        }
        &__img{
            height: 51px;
            display: inline-block;
            margin: 20px 0;
            @media (max-width: 1200px) {
                height: 34px;
            }
            @media (max-width: 767px) {
                height: 24px;
                margin: 0 0 10px;
                max-width: 100%;
            }
        }
        &__season{
            position: absolute;
            display: block;
            width: 100%;
            text-align: center;
            bottom: -17px;
            color: @textgray;
            font-family: @got-font-family;
            font-size: 31px;
            @media (max-width: 1200px) {
                font-size: 18px;
                bottom: -9px;
            }
            @media (max-width: 767px) {
                font-size: 12px;
                bottom: -6px;
            }
        }
    }
    &-info{
        float: right;
        white-space: nowrap;

        &__logo{
            height: 100px;
            display: inline-block;
            vertical-align: middle;
            margin-right: -30px;
            @media (max-width: 1200px) {
                height: 84px;
                margin-bottom: -10px;
                margin-right: -40px;
            }
            @media (max-width: 767px) {
                height: 54px;
                margin-bottom: 0;
                margin-right: -25px;
                margin-left: -30px;
            }
        }
        &__time{
            font-size: 34px;
            display: inline-block;
            vertical-align: middle;
            text-align: center;
            .day-small{
                display: none;
            }
            @media (max-width: 1200px) {
                font-size: 22px;
            }
            @media (max-width: 767px) {
                font-size: 20px;
                .day-small{
                    display: inline-block;
                }
            }
        }
        &__day{
            font-size: 12px;
            text-align: center;
            display: block;
            @media (max-width: 1200px) {
                font-size: 7px;
            }
            @media (max-width: 767px){
                display: none;
            }
        }
    }
}
