.mts-connection {
  width: 430px;
  height: 280px;
  background: url("@{public}/images/brush.svg") no-repeat 50% 50%;
  background-size: cover;
  padding: 46px 80px;
  margin-top: -200px;
  @media (max-width: 1200px) {
    width: 370px;
    height: 240px;
    .background-size(contain);
    float: none;
    position: relative;
    bottom: 0;
    padding: 24px 80px;
    margin: 35px auto;
  }
  @media (max-width: 767px) {
    .background-size(contain);
      margin: 40px -20px 0;
      background: @red;
      position: relative;
      width: auto;
      height: auto;
      padding: 10px 20px;
      &:before{
        content: "";
        background: url('@{public}images/brush.svg') 59px -2px no-repeat;
        .background-size(100% auto);
        width: 400px;
        height: 24px;
        display: block;
        position: absolute;
        top: -24px;
        right: 0;
      }
      .content-button{
          position: absolute;
          width: 120px;
          right: 20px;
          top: 50%;
          margin-top: -20px;
      }
    }
  h2 {
    font-family: @base-font-family;
    font-size: 20.47px;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    @media (max-width: 1200px) {
      font-size: 18.43px;
    }
    @media (max-width: 767px) {
      font-size: 12px;
      padding-right: 130px;
      text-align: left;
    }
    a{
      color: @white;
    }
  }
}

.about-page .about-mts {
  @media (min-width: 1201px) {
    position: absolute;
    top: 0;
    left: 0;
    .mts-connection {
      width: 300px;
      height: 200px;
      padding: 35px 60px;
      margin: 50px 0 0;
    }
  }
}