.mts-connection {
width: 430px;
  height: 260px;
  background: url("@{public}/images/plate.png") no-repeat 50% 50%;
  background-size: cover;
  float: left;
  padding: 40px 80px;
  h2 {
    font-family: @base-font-family;
    font-size: 20.47px;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    a{
      color: @white;
    }
  }
}