.social-login {
  width: 250px;
  height: 100px;
  margin: 60px auto 0;

  span {
    font-family: 'Trajan Pro 3';
    font-size: 22.92px;
    line-height: 27.7px;
    font-weight: normal;
    font-style: normal;
    @media (max-width: 1200px) {
      font-size: 18.33px;
      line-height: 22.16px;
    }
  }
  a {
    margin: 15px 5px;
    display: inline-block;
  }
}