.about-social {
  float: right;
  .social-login {
    margin-top: 0;
  }
}

.about-content {
  margin-left: 350px;
  margin-right: 0;
  h1 {
    font-family: @got-font-family;
    font-size: 40px;
    line-height: 44px;
    font-weight: normal;
    text-align: center;
  }
  .video-position {

    @media (max-width: 1200px) {
      width: 690px;
      margin: 0 auto;
    }
    @media (max-width: 767px) {
      width: 330px;
      margin: 0 auto;
    }
  }
  video {
    background-color: @gray;
    width: 850px;
    height: 470px;
  }
  article {
    font-family: @base-font-family;
    font-size: 16px;
    line-height: 21px;
    padding-right: 200px;
  }
  @media (max-width: 1200px) {
    margin: 0 auto;
    video {
      width: 680px;
      height: 380px;

    }
    article {
      font-size: 14px;
      line-height: 18px;
      padding-right: 0;
      margin: 0 auto;
      width: 680px;
    }
  }
  @media (max-width: 767px) {
    margin: 0 auto;
    video {
      width: 320px;
      height: 180px;
    }
    article {
      font-size: 12px;
      line-height: 16px;
      padding-right: 0;
      width: 320px;
      margin: 0 auto;
    }
  }
}

.about-page {
  position: relative;
  width: 100%;

  .about-mts {
    position: absolute;
    top: 0;
    left: 0;
    .mts-connection {
      width: 300px;
      height: 200px;
      padding: 35px 60px;
    }
    @media (max-width: 1200px) {
      bottom: 0;
      left: 50%;
      margin: 0 auto;
      position: static;
      .mts-connection {
        width: 285px;
        height: 190px;
        padding: 35px 60px;
      }
    }
    @media (max-width: 767px) {
      font-size: 12px;
      line-height: 16px;
      padding-right: 0;
    }
    h2 {
      font-size: 14.33px;
    }
    .content-button {
      width: 145px;
      height: 45px;
      font-size: 13.01px;
      line-height: 15.72px;
    }
  }
}
