.link-about {
  font-family: @got-font-family;
  font-size: 22.92px;
  line-height: 27.7px;
  font-weight: normal;
  font-style: normal;
  color: @white;
  text-decoration: none;
  margin: 20px;
  @media (max-width: 1200px) {
    font-size: 18.33px;
    line-height: 22.16px;
  }
  @media (max-width: 767px) {
    font-size: 11px;
    line-height: 13.3px;
  }
}

.main-content {
  position: relative;
  .content-button{
    margin-bottom: 50px;
    @media (max-width: 767px) {
      margin-bottom: 80px;
    }
  }
  .mts-connection_position {
    position: absolute;
    left: -30px;
    bottom: 0;
    @media (max-width: 1200px) {
      position: static;
      margin: 0 auto;
      padding-bottom: 0;
    }
    @media (max-width: 767px) {
      position: relative;
      bottom: -40px;
      z-index: -1;
      padding-bottom: 0;
    }
  }

  &-caption {
    max-width: 550px;
    padding: 0;
    margin: 70px auto;
    position: relative;
    h1 {
      font-family: @got-font-family;
      font-size: 50.86px;
      line-height: 61.47px;
      font-weight: normal;
      font-style: normal;
      text-align: center;
      position: relative;
      padding: 33px 0 28px;
      margin: 0;
    }

    &:before, &:after {
      position: absolute;
      content: "";
      left: 50%;
      margin-left: -115px;
      width: 230px;
      height: 1px;
      background: @gray;
    }

      &:before {
        top: 0;
      }

      &:after {
        bottom: 0;
      }
      @media (max-width: 1200px) {
        margin: 50px auto;

        h1 {
          font-size: 46.5px;
          line-height: 56.2px;
        }

        &:before, &:after {
          width: 220px;
          margin-left: -110px;
        }
      }
      @media (max-width: 767px) {
        margin: 35px auto;
        h1 {
          font-size: 20.87px;
          line-height: 24.35px;
          padding: 20px 0 17px;
        }

        &:before, &:after {
          width: 100px;
          margin-left: -50px;
        }
      }
    }

    @media (max-width: 767px) {
      h1 {
        font-size: 20.87px;
        line-height: 24.35px;
      }

      &:before, &:after {
        width: 100px;
        margin-left: -50px;
      }
    }
  }
